.root
  display flex
  cursor pointer

  .logo
    height 50px
    width 40px
    position relative

  .image
    position absolute
    width 100%
    height 50px
    top 50%
    transform translateY(-50%)
    background-image url('../assets/img/dinner.png')
    background-size contain
    background-position: 50% 50%, 50% 50%
    background-repeat: no-repeat, no-repeat

  .text
    align-self center
